/*  ================================
        global area start
    ================================ */

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #1a1a1a;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

.main-div {
    overflow: hidden;
}

img {
    max-width: 100%;
}

/*  ================================
        global area end
    ================================ */

/*  ================================
        header area start
    ================================ */

.header-top {
    overflow: hidden;
    background-color: #000;
}

.wel-come h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.wel-come {
    padding: 20px 0;
    font-weight: 600;
}

.menu-top {
    text-align: right;
}

.menu-top ul {
    display: inline-block;
}

.menu-top li {
    list-style: none;
    display: inline-block;
    padding: 18px 0 0;
}

.menu-top li a {
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    font-weight: 800;
}

.menu-top li a:hover {
    color: #E2B759;
}

.logo {
    margin: 30px 0;
}
.logo img{
    width: 400px;
}

/*  ================================
        header area end
    ================================ */

.support-box {
    overflow: hidden;
}

.support-box ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.support-box ul li {
    float: left;
    width: 24.3%;
    list-style: none;
    position: relative;
    padding: 10px 0;
    margin-right: 10px;
}

.support-box ul li:last-child {
    margin-right: 0;
}

.service-left {
    width: 30%;
    float: left;
    text-align: right;
}

.service-left i {
    font-size: 40px;
    color: #E2B759;
    width: 50px;
    height: 50px;
    background: #000;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.service-right {
    width: 70%;
    float: right;
    padding: 13px 10px;
    font-weight: 600;
    display: inline-block;
    color: #000;
    transition: 0.5s;
    text-transform: capitalize;
    font-size: 15px;
}

.wel {
    margin-top: 30px;
}

.wel-info {
    padding: 30px;
    background-color: #BBECF6;
}

.wel h2 {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
}

.wel h2 a {
    padding: 5px 30px;
    color: #FF0000;
    text-decoration: none;
    background-color: #fff;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 40px;
}

/*  ================================
        product title area start
    ================================ */

.pro-title {
    background-color: #000;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 10px 0 30px;
    text-align: center;
}

.pro-title h3 {
    color: #fff;
    font-size: 22px;
    display: inline-block;
    line-height: 1.4;
    font-weight: 700;
}

/*  ================================
        product title area end
    ================================ */

/*  ================================
        product area start
    ================================ */

.product-wraper {
    border: 1px solid #D1D1D1;
    overflow: hidden;
    padding: 40px 20px;
}

.dec-title {
    margin: 30px 0 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-dec h3 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-transform: capitalize;
    font-size: 22px;
    margin: 30px 0 10px;
    font-weight: 600;
}

.product-dec h3:first-child {
    margin-top: 0;
}

.product-dec h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 20px;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: capitalize;
}

.product-dec ul {
    margin-bottom: 30px;
}

.product-dec ul,
.tab-list ul {
    margin: 0 0 10px;
}

.product-dec ul li,
.tab-list ul li {
    list-style: none;
    padding: 5px 20px;
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.product-dec ul li::before,
.tab-list ul li::before,
.sidebar-box ul li::before {
    position: absolute;
    content: "\f046";
    font-family: fontawesome;
    left: 0;
    color: #000;
}

.tl {
    text-align: left !important;
}

/*  ================================
        product area end
    ================================ */

/*  ================================
        tab area start
    ================================ */

.tab-part-area {
    padding: 30px 0;
}

section.tab-section {
    display: none;
    padding: 40px 45px;
    border: 1px solid #ddd;
    color: #1a1a1a;
    overflow: hidden;
}

.tab-part-area input {
    display: none;
}

.tab-part-area label {
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid transparent;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F8F8FA;
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
}

.tab-part-area label:hover {
    cursor: pointer;
    color: #C89520;
    border: 1px solid #000;
    background-color: #000;
}

.tab-part-area input:checked + label {
    color: #C89520;
    border: 1px solid #000;
    background-color: #000;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

.tab-section p a {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

/*  ================================
        tab area end
    ================================ */

/*  ================================
        footer area start
    ================================ */

.footer-top {
    padding: 35px 0;
}

.footer-widget h2 {
    padding: 0 0 20px;
    margin: 0 0 25px;
    text-transform: capitalize;
    font-size: 20px;
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.footer-widget h2::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 40%;
    border: 1px solid #000;
}

.footer-widget p {
    margin: 0 0 20px;
    line-height: 18px;
}


.sub-btn {
    border: 1px solid #C89520;
    background: #C89520;
    color: #000;
    text-transform: uppercase !important;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
    display: inline-block;
    font-weight: 700;
}

.sub-btn:focus,
.sub-btn:hover {
    color: #fff;
}

.footer-logo {
    text-align: center;
    padding: 36px 30px 0;
}
.footer-logo img{
    width: 300px;
}
.main-footer {
    padding: 20px 0;
    background-color: #000;
}

.copy-right p a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.copy-right p {
    color: #fff;
    margin: 0;
    padding: 0;
}

/*  ================================
        footer area end
    ================================ */
